<!-- <div *ngFor='let crib of cribs' class="polaroid" class='col-sm-4'>
  <img src="{{ crib.image }}.jpg" alt="" style="width:100%">
  <div class="container">
  <p>Cinque Terre</p>
  </div>
</div> -->

<!-- 3rd -->
<!-- <div class="row">
  <div *ngFor='let crib of cribs' class='col-lg-4'>
        <img src="{{crib.image}}.jpg" alt="">
  </div>
</div> -->

<!-- 1st -->

<div *ngFor="let crib of cribs" class='col-sm-4'>
  <div class='thumbnail'>
    <img src="{{crib.image}}.jpg" alt="">
      <div class="caption">
        <div *ngIf='!crib.showDetails'>
          <h4>
            <span class= 'label label-primary'>
              {{ crib.type }}
            </span>
          </h4>
          <h3>
            <i class='glyphicon glyphicon-tag'></i>
              {{ crib.price | currency:'USD':true }}
          </h3>
          <h4>
            <i class='glyphicon glyphicon-home'></i>
              {{ crib.address }}
          </h4>

          <hr>

          <button 
            class='btn btn-sm btn-success'
            *ngIf='!crib.showDetails'
            (click)='crib.showDetails = !crib.showDetails'>
              Details
          </button>
          
        </div>

        <div *ngIf='crib.showDetails'>
          <div class='details'>
            <h4>
              <span class='label label-primary'>
                Beds: {{ crib.bedroom }}
              </span>
              <span class='label label-primary'>
                Baths: {{ crib.bathroom }}
              </span>
              <span class='label label-primary'>
                SqFt: {{ crib.area }}
              </span>
            </h4>

            <p>{{ crib.description }}</p>

            <hr>

            <button class="btn btn-sm btn-danger" (click)="crib.showDetails = !crib.showDetails">
              Close
            </button>

          </div>
        </div>
      <div>
  </div>
</div>

<!-- 2nd -->

<!-- <div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Type</th>
        <th>Address</th>
        <th>Description</th>
        <th class="text-right">Purchase Price</th>
      </tr>
      <tr *ngFor="let crib of cribs">
        <td>
          {{crib.type}}
        </td>
        <td>
          {{crib.address}}
        </td>
        <td>
          {{crib.description}}
        </td>
        <td class="text-right">
          {{crib.price}}
        </td>
      </tr>
    </table>
  </div> -->
